body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .outer-container {
    display: flex;
    background-color: #ccc;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1024px;
    padding: 20px;
  }
  .inner-container {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    align-items: center;
    flex: 1;
    margin-left: 90px;
    border-radius: 10px;
  }
  
  .left-container {
    flex: 1;
    text-align: center;
  }
  
  .left-container img {
    max-width: 100%;
    border-radius: 10px;
    margin: 0px 0px -4px 0px;
  }
  
  .right-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .btn1 {
    background-color: #fff;
    color: #007bff;
    padding: 10px 20px;
    cursor: pointer;
    border-color: #007bff;
    float: right;
  }
  
  #form {
    display: block;
  }
  
  .signin-form {
    display: none;
  }
  
  .formfield h1 {
    margin: 10px 0;
    color: rgb(81, 81, 241);
    font-weight: bolder;
    line-height: 0.6;
  }
  .signup{
    display: none;
  }
  
  
  p {
    color: #007bff;
    font-weight: bold;
    line-height: 0.6;
    opacity: 0.9;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
  }
  
  
  input {
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
  }
  
  .heading{
    color: #007bff;
  }
  .para{
    font-size: small;
  }
  .error {
    color: red;
  }
  
  .btn2 {
    background-color: #131186;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
    border-color: #007bff;
    color: white;
  }
  